@charset "UTF-8";
body {
	margin: 0 0 0 0;
	padding-top: 50px;
	background: #fffacd;
}
.wrapper {
	margin: 0 auto 0 auto;
	max-width: 1000px;
}
.h1 {
	color:#4CAF50;
}

.h3 {
	color:#4CAF50;
}
.dropdown {
    margin:auto;
    position: relative;
  }
  .dropdown__btn {
    display: block;
    width: 7em;
    padding: 0.2em;
    background: none;
    border: 1;
    margin:auto;
    font-size:15px;
    color:#4CAF50;
    font-weight: 900;
  }
  .dropdown__btn.is-open::after {
    content: "";
    width: 100%;
    height: 100%;
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
  }
  .dropdown__btn.is-open + .dropdown__body {
    display: block;
    z-index: 5;
    text-align:center;
  }
  .dropdown__body {
    display: none;
    width: auto;
    box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 32px;
    margin-left: 120px;
    background-color: #fff;

  }
  .dropdown__list {
    width:720px;


  }
  .dropdown__item {
    display: block;
  }
  .dropdown__item-link {
    display: block;
    padding: 1em 1.2em;
    font-size: 0.95em;
    text-decoration: none;
    color: #4CAF50;
  }
  .dropdown__item-link:hover {
    background-color: #fff;
  }
.dropdown__btn {
	width:760px;

}


/* メニューバー設定 */
/* メニューバー */
nav {
	position: fixed; /* 画面に固定して追従させます */
	height: 100%;
	top: 100px;
	right:0; /* 固定位置は右側 */
	z-index:1; /*他の要素より前に出します*/
	background-color:#fffacd; ;

}
ul li {
	list-style-type:none;

}
.menu1{
	width:152px;
	height:44px;
	background: url(/buster_moon/img/timeLine.ico) no-repeat;
	padding:20px;
	margin:8px;
}
.menu1 a{
	display: block;
	height: 100%;
}

.menu2{
	width:152px;
	height:44px;
	background: url(/buster_moon/img/post.ico) no-repeat;
	padding:16px;
	margin:8px;
}
.menu2 a{
	display: block;
	height: 100%;
}
.menu3{
	width:152px;
	height:44px;
	background: url(/buster_moon/img/search.ico) no-repeat;
	padding:16px;
	margin:8px;
}
.menu3 a{
	display: block;
	height: 100%;
}
.menu4{
	width:152px;
	height:44px;
	background: url(/buster_moon/img/gather.ico) no-repeat;
	padding:16px;
	margin:8px;
}
.menu4 a{
	display: block;
	height: 100%;
}
.menu5{
	width:152px;
	height:44px;
	background: url(/buster_moon/img/profile.ico) no-repeat;
	padding:16px;
	margin:8px;
}
.menu5 a{
	display: block;
	height: 100%;
}


div#table {
  width: 755px;
  margin-right: auto;
  margin-left: auto;
  height:350px;
  overflow-y:scroll;
  background-color: #f7f7f7;
  border: solid 3px;
}
#gather_button {
      display: center;
      padding: 10px 20px;
      background-color: #4CAF50; /* ボタンの背景色 */
      color: white; /* ボタンのテキスト色 */
      font-size: 16px; /* ボタンのフォントサイズ */
      border: none; /* ボタンのボーダー */
      border-radius: 4px; /* ボタンの角丸 */
      cursor: pointer; /* マウスオーバー時のカーソルスタイル */
}
#gather_button:hover {
}
.name {
	font-weight: 900;
}

#dropdown__btn{
      display: center;
      padding: 10px 20px;
      background-color: #4CAF50; /* ボタンの背景色 */
      color: white; /* ボタンのテキスト色 */
      font-size: 16px; /* ボタンのフォントサイズ */
      border: none; /* ボタンのボーダー */
      border-radius: 4px; /* ボタンの角丸 */
      cursor: pointer; /* マウスオーバー時のカーソルスタイル */
}
#dropdown__btn{
      background-color: #45a049; /* マウスオーバー時の背景色 */
}