body {
	margin: 0 0 0 0;
	padding-top: 50px;
	background-color: #fffacd;
}

.wrapper {
	margin: 0 auto 0 auto;
	max-width: 1000px;
	text-align: center;
}

table{
    border: 2px #808080 solid;
    text-align: center;
}

.tenmei {
    background-color:  #FFA500;    /* 背景色指定 */
}

th,td {
    padding: 10px 20px;          /* 余白指定 */
    width: 155px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.table-container {
  display: inline-block;
  text-align: left;
}

.table-container table {
  margin: 0 auto;
}

.table-container td,
.table-container th {
  padding: 10px 20px;
}

.delete {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete:hover {
  background-color: #45a049;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
